.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 120px;
  color: var(--primary-color);
}

.logo {
  background-color: var(--primary-color);
  width: 150px;
}

.menu-bar {
  display: flex;
}

.menu-bar li {
  font-size: var(--font18px);
  margin: 0 1rem;
}