.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 120px;
  color: var(--primary-color);
  position: relative;
  z-index: 2;
}

.logo {
  background-color: var(--primary-color);
  width: 150px;
}

.menu-bar {
  display: flex;
}

.menu-bar li {
  font-size: 1rem;
  margin: 0 1rem;
}

.menu-bar a {
  color: var(--primary-color);
}

.menu-bar a:hover {
  color: var(--secondary-color);
}