body {
  background-color: var(--primary-color);
  color: #fff;
  z-index: -9999;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  margin: -115px 0 0;
  padding: 140px 250px 0;
  text-align: center;
  color: var(--primary-color);
  height: 84.8vh;
  position: relative;
}

.jumbotron-container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-image: linear-gradient(to top, var(--primary-color), rgba(0,0,0,0));
}

.jumbotron h1 {
  font-size: var(--font57px);
  padding: 0 120px;
  text-shadow: var(--ambient-shadow);
  font-weight: 600;
  line-height: 70px;
}

.jumbotron p {
  font-size: var(--font18px);
  padding: 0 120px;
  margin-top: -30px;
  margin-bottom: 60px;
  text-shadow: var(--ambient-shadow);
  font-weight: 600;
}

.tripCTA {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--ambient-shadow);
}

.tripCTA form {
  display: grid;
  grid-template-areas: 
    'fromL toL dateL button1'
    'fromI toI dateI button2'
  ;
  gap: 5px;
  text-align: left;
  padding: 20px 32px;
  font-size: var(--font18px);
}

.tripCTA label {
  font-weight: 500;
}

.tripCTA input {
  margin-right: 15px;
  height: 30px;
  box-shadow: var(--penumbra-shadow);
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  padding-left: 10px;
}

.tripCTA .btn {
  grid-area: button2;
  border-radius: 3px;
  font-size: var(--font14px);
  font-weight: 600;
  padding: 0;
}

/* Services */
.services {
  text-align: center;
  margin-top: 80px;
  padding: 0 120px;
  margin-bottom: 100px;
}

.services-content {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.services-card:first-child img {
  padding-top: 15px;
  margin-bottom: 10px;
}

.services-card:nth-child(3) img {
  margin-bottom: 4px;
}

.services-card:last-child img {
  margin-bottom: 5px;
}

/* Destination */
.destination {
  margin: auto;
  padding: 0 120px;
  text-align: center;
  margin-bottom: 100px;
}

.destination-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  text-align: left;
  margin-top: -15px;
}

.destination-card:nth-child(1) {
  background-image: url(../img/borobudur.jpg);
  background-size: cover;
}

.destination-card:nth-child(2) {
  background-image: url(../img/tokyo.jpg);
  background-size: cover;
}

.destination-card:nth-child(3) {
  background-image: url(../img/canyon.jpg);
  background-size: cover;
}

.destination-card:nth-child(4) {
  background-image: url(../img/maldives.jpg);
  background-size: cover;
}

.destination button {
  padding: 8px 32px;
  font-size: var(--font16px);
  margin: 30px 0;
}

/* Gallery */
.gallery {
  padding: 0 120px;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.gallery-content img {
  width: 22.65rem;
  height: 400px;
}