body {
  background-color: var(--primary-color);
  color: #fff;
  z-index: -9999;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  margin: -115px 0 0;
  padding: 140px 250px 0;
  text-align: center;
  color: var(--primary-color);
  height: 84.8vh;
  position: relative;
}

.jumbotron-container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-image: linear-gradient(to top, var(--primary-color), rgba(0,0,0,0));
}

.jumbotron h1 {
  font-size: var(--font57px);
  padding: 0 120px;
  text-shadow: var(--ambient-shadow);
  font-weight: 600;
  line-height: 70px;
}

.jumbotron p {
  font-size: var(--font18px);
  padding: 0 120px;
  margin-top: -30px;
  margin-bottom: 60px;
  text-shadow: var(--ambient-shadow);
  font-weight: 600;
}

.tripCTA {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--ambient-shadow);
}

.tripCTA form {
  display: grid;
  grid-template-areas: 
    'fromL toL dateL button1'
    'fromI toI dateI button2'
  ;
  gap: 5px;
  text-align: left;
  padding: 20px 32px;
  font-size: var(--font18px);
}

.tripCTA label {
  font-weight: 500;
}

.tripCTA input {
  margin-right: 15px;
  height: 30px;
  box-shadow: var(--penumbra-shadow);
  border-radius: 3px;
  border: 1px solid #96b8d1;
  padding-left: 10px;
  font-family: 'DM Sans', sans-serif;
}

.tripCTA .btn {
  grid-area: button2;
  border-radius: 3px;
  font-size: var(--font14px);
  font-weight: 600;
  padding: 0;
}

/* Services */
.services {
  text-align: center;
  margin-top: 80px;
  padding: 0 200px;
  margin-bottom: 70px;
}

.services-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.services-card:first-child img {
  padding-top: 10px;
  margin-bottom: 10px;
}

.services-card:nth-child(3) img {
  margin-bottom: 4px;
}

.services-card:last-child img {
  margin-bottom: 5px;
}

/* Destination */
.destination {
  margin: auto;
  padding: 0 120px;
  text-align: center;
  margin-bottom: 50px;
}

.destination-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  text-align: left;
  margin-top: -15px;
}

.destination-card:nth-child(1) {
  background-image: url(../img/borobudur.jpg);
  background-size: cover;
}

.destination-card:nth-child(2) {
  background-image: url(../img/tokyo.jpg);
  background-size: cover;
}

.destination-card:nth-child(3) {
  background-image: url(../img/canyon.jpg);
  background-size: cover;
}

.destination-card:nth-child(4) {
  background-image: url(../img/maldives.jpg);
  background-size: cover;
  background-position-x: -200px;
}

.destination button {
  padding: 8px 32px;
  font-size: var(--font16px);
  margin: 30px 0;
}

/* Gallery */
.gallery {
  padding: 0 120px;
  text-align: center;
  margin-bottom: 50px;
}

.gallery-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.gallery-content img {
  width: 55vh;
  height: 52.66vh;
  object-fit: cover;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all 0.1s;
}

.gallery-content img:hover {
  cursor: pointer;
  border: 2px solid var(--tertiary-color);
}

.gallery button {
  padding: 8px 32px;
  font-size: var(--font16px);
  margin: 30px 0;
}

/* Offers */
.offer {
  padding: 0 120px;
  margin-bottom: 50px;
}

.offer-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.offer-content>img {
  position: absolute;
  width: 40px;
  bottom: 50%;
}

.offer-content>img:hover {
  cursor: pointer;
}

.offer-content>img:first-child {
  left: -7%;
}

.offer-content>img:last-child {
  right: -7%;
}

.offer aside {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.offer aside div {
  border: 1px solid white;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.offer aside div:first-child {
  background-color: #fff;
}

/* Blog */
.blog {
  padding: 0 120px;
  margin-bottom: 50px;
  text-align: center;
}

.blog-content {
  display: grid;
  grid-template-areas: 
    'blog1 blog1 blog blog'
    'blog1 blog1 blog blog'
  ;
  gap: 10px;
  text-align: left;
}

.blog button {
  padding: 8px 32px;
  font-size: var(--font16px);
  margin: 30px 0;
}

/* Contact */
.contact {
  padding: 0 120px;
  margin-bottom: 100px;
}

.contact-content form{
  width: fit-content;
  box-sizing: border-box;
  text-align: right;
  margin: auto;
}

.contact-content input {
  width: 75vh;
  border-radius: 3px;
  border: 1px solid white;
  background-color: var(--secondary-color);
  padding: 10px 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: var(--font14px);
  font-family: var(--font-family);
}

.contact-content input::placeholder {
  color: #fff;
  font-size: var(--font14px);
}

.contact-content input:last-of-type {
  padding-bottom: 200px;
}

.contact-content .btn {
  padding: 8px 36px;
  border-radius: 3px;
} 